@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
:root {
  --primary: rgb(14, 103, 121);
}
header {
  /* text-decoration: underline var(--primary); */
}
nav {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
nav > h1 {
  justify-self: right;
  padding: 4px;
  border-bottom: 4px solid var(--primary);
}
header nav a {
  text-align: center;
  text-decoration: none;
  height: fit-content;
  border-radius: 4px;
  padding: 10px;
  color: white;
}
header nav a:hover {
  text-decoration: underline solid var(--primary);
  transform: scale(1.05);
}

header nav a.active {
  background: var(--primary);
}
main {
  max-width: auto;
  height: auto;
  margin-top: 40px;
}
.app {
  background: rgb(41, 41, 100);
  font-family: "Itim", cursive;
  width: auto;
  min-height: 1000px;
  color: whitesmoke;
  margin: 0px;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.links {
  display: flex;
  align-items: center;
}
