.students {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url("../../assets/bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.students > h1 {
  z-index: 1;
}
.students th,
td {
  border: 1px solid white;
}
.underlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
}
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  z-index: 1;
}
.headers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.headers > h3 {
  flex: 1;
  text-align: center;
}

.list {
  width: 95%;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  scrollbar-width: thin;
  border: 4px rgb(14, 103, 121) solid;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* box-sizing:content-box; */
}
.list::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px grey;
  border-radius: 10px;
}

/* Handle */
.list::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}

/* Handle on hover */
.list::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.listRow {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  border-bottom: 1px rgb(14, 103, 121) solid;
  padding: 2px;
}
.listRow:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

.listRow div {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px auto;
  z-index: 1;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

.form input {
  width: 60%;
  border-radius: 5px;
  height: 25px;
}

.form > button {
  width: 150px;
  border-radius: 4px;
  margin: 5px;
  padding: 4px;
  font-weight: bold;
  background-color: rgb(14, 103, 121);
  color: whitesmoke;
}

.dateRow {
  width: 62%;

  display: flex;
  justify-content: flex-start;
}

.date {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  flex: 1;
  height: 100%;
}

.iconButton > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
